In [1]:
import pandas as pd 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('income1.csv')
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [3]:
X = df.iloc[:,0:6]
y = df.iloc[:,6]

In [4]:
X.head()

   age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income_level, dtype: int64

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [7]:
# Model Traaining and evaluation

In [8]:
Adamodel = AdaBoostClassifier(n_estimators=100, learning_rate=1)

In [9]:
#train model

model = Adamodel.fit(X_train,y_train)

In [10]:
y_pred = model.predict(X_test)

In [11]:
# check accuracy

print("accuracy : ", metrics.accuracy_score(y_test,y_pred))

accuracy :  0.8405159176988433

# Few more aspects of Ada Boost Classifier

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
log_reg = LogisticRegression()

In [ ]:
# create ada boost classifier

In [15]:
adabc = AdaBoostClassifier(n_estimators=50, base_estimator=log_reg, learning_rate=1)

In [ ]:
#train this classifier

In [16]:
model = adabc.fit(X_train,y_train)

In [18]:
# predict

y_pred1 = model.predict(X_test)

In [19]:
# check accuracy

print("accuracy : ", metrics.accuracy_score(y_test,y_pred1))

accuracy :  0.8000818916982291

In [20]:
## we can see our accuracy is get drowned,so we can aplly other algorithm instead of logistic regression like SVM or any other